/* 
   CSS File for FileBinder
   Author - WireBits
*/

body {
    font-family: Arial, sans-serif;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: white;
    overflow: hidden;
}

.container {
    background-color: black;
    width: 100%;
    max-width: 600px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="password"], textarea {
    color: white;
    resize: none;
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border: 2px solid #87CEEB;
    border-radius: 4px;
    background: #000000;
    font-family: "Courier New", Courier, monospace;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.file-name, .file-size {
    color: #87CEEB;
    font-size: 16px;
    margin-bottom: 10px;
}

button {
    color: white;
    padding: 14px 20px;
    margin: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 30%;
}

#generate {
    background-color: #00AB66;
}

#reset {
    background-color: #FF033E;
}

.upload {
    background-color: #FFC72C;
    color: black;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 20%;
}

.title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: white;
    border: 2px solid orange;
    padding: 10px;
    border-radius: 5px;
    letter-spacing: 5px;
}

button:hover, .upload:hover {
    opacity: 0.8;
}